.ChangePassword{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ChangePassword .ChangePassword_{
    width: 80%;
}
.ChangePassword .ChangePassword_ .btnChange{
    display:flex;
    justify-content: center;
    padding: 10px 0 20px 0;
}
.ChangePassword_ .btnChange button{
    height: 40px;
    width: 100px;
    margin: 0 10px 0 10px;
    border: solid 1px lightgray;
    border-radius: 20px;
    cursor: pointer;
}
.ChangePassword_ .btnChange button:hover{
    background-color: aqua;
}
.ChangePassword_ .btnChange button:focus{
    outline: none;
}