.SignUpComponent{
    width: 30%;
    margin-left: 35%;
    text-align: center;
    margin-top: 20vh;
}
.error{
    color: #721c24;
    width: 95%;
    margin-left: 2.5%;
    border: solid 1px #f5c6cb;
    background-color: #f8d7da;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}